@import "variables.scss";       /// Импорт переменных для шрифта и цветов

////////////////////////////////////////////////////////////////MAIN PAGE STYLES
@import "main.scss";
////////////////////////////////////////////////////////////////MAIN PAGE STYLES
///
////////////////////////////////////////////////////////////////NUMBER INPUT STYLE
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
////////////////////////////////////////////////////////////////ALL INPUTS ROUND STYLE
input {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
////////////////////////////////////////////////////////////////NUMBER INPUT STYLE
///
////////////////////////////////////////////////////////////////ADD USERS PAGE STYLES
@import "addUsers.scss";
////////////////////////////////////////////////////////////////ADD USERS PAGE STYLES
/// 
////////////////////////////////////////////////////////////////ADD GOODS PAGE STYLES
@import "addGoods.scss";
////////////////////////////////////////////////////////////////ADD GOODS PAGE STYLES
/// 
////////////////////////////////////////////////////////////////RESULTS PAGE STYLES
@import "results.scss";
////////////////////////////////////////////////////////////////RESULTS PAGE STYLES