@import "variables.scss";

////////////////////////////////////////////////////////////////MAIN PAGE STYLES
.main-title {
  margin-top: 70px;
  margin-bottom: 100px;
  padding: 10px;

  .main-title__header {
    font-family: $fontName;
    background-color: $myGolden;
    border-radius: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .main-title__title {
    margin: 5px auto;
    font-size: 5em;
    color: $myGreen;
  }
  .main-title__subtitle {
    font-size: 3em;
    color: $myGreen;
  }
  .main-title__start-btn {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-title__get-started-btn {
      font-family: $fontName;
      color: $myWhite;
      font-size: 2em;
      height: 2.5em;
      border: none;
      border-radius: 10px;
      background-color: $myGreen;

      &:hover {
        background-color: $myPink;
      }
      &:active {
        background-color: $myPink;
      }
    }
  }

  .main-title__instruction {
    margin-top: 4em;
    color: $myGolden;
    background-color: $myGolden;
    border-radius: 40px 0;

    .main-title__mainHeader {
      background-color: $myLightGolden;
      color: $myGreen;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 40px 0 0 0;
      height: 100px;
    }

    .main-title__mainBody {
      padding: 10px;

      .main-title__card {
        margin: 15px 0;
        background-color: $myLightGolden;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 20px;

        .main-title__cardName {
          color: $myGreen;
          margin-bottom: 5px;
        }

        .main-title__icon {
          color: #19181a;
          font-size: 25px;

          &:hover,
          &:focus,
          &:active {
            color: $myPink !important;
          }
        }

        .main-title__cardBody {
          color: $myBlack;
          font-weight: bold;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .main-title__like {
            background-color: $myBlack;
          }
        }
      }
    }
  }
}
////////////////////////////////////////////////////////////////MAIN PAGE STYLES
///
////////////////////////////////////////////////////////////////NUMBER INPUT STYLE
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
////////////////////////////////////////////////////////////////ALL INPUTS ROUND STYLE
input {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
////////////////////////////////////////////////////////////////NUMBER INPUT STYLE
///
